.container {
    width: 300px;
    max-height: 450px;
}

.header {
    color: #164ca7;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}

.menuButton {
    height: 60px;
    width: 210px;
    margin: 15px auto
}